<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.stillloading.mdschedule.provider.READ_PROVIDER"
        android:protectionLevel="signature" />
    <permission
        android:name="com.stillloading.mdschedule.provider.WRITE_PROVIDER"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.stillloading.mdschedule.provider.WRITE_PROVIDER" />
    <uses-permission android:name="com.stillloading.mdschedule.provider.READ_PROVIDER" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
         >

        <receiver
            android:name=".backgroundutils.AlarmReceiver"
            android:enabled="true"
            >
        </receiver>

        <receiver
            android:name=".TasksWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tasks_widget_info" />
        </receiver>

        <service
            android:name=".widgetutils.TasksWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".systemutils.ScheduleContentProvider"
            android:authorities="com.stillloading.mdschedule.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.stillloading.mdschedule.provider.READ_PROVIDER"
            android:writePermission="com.stillloading.mdschedule.provider.WRITE_PROVIDER" />

        <activity
            android:name=".SettingsMenu"
            android:exported="false"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>